.ocultar
{
	display: none;
}


.botonesCards {
    
    margin-left: calc(var(--f7-card-expandable-margin-horizontal) + var(--f7-safe-area-left));
    margin-right: calc(var(--f7-card-expandable-margin-horizontal) + var(--f7-safe-area-right));
    margin-bottom: var(--f7-card-expandable-margin-vertical);
    box-shadow: var(--f7-card-expandable-box-shadow);
    font-size: var(--f7-card-expandable-font-size);
    max-width: var(--f7-card-expandable-tablet-width);
}

.whatsapp {
	margin-right: 5px;
}

.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }

.radiO{
	display:none;
} 

.radiO:checked ~ label
{
color:orange;
}


.labEl
{
color:grey;
font-size: 25px;
}

.labEl:hover
{
color:orange;
}

.labEl:hover ~ label
{
color:orange;
}
.marGen{
 margin: -11px;
}